@import './../../../../static/global.scss';

.app__baseInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  margin:8px;
  padding:8px;

  label {
    color: rgb(255, 255, 255);
  }
  input {
    border-radius: 4px;
    padding: 0 5px;
    background-color: $white-blur4;
    color:white;

    &:focus {
      background-color: $white-blur6;
      border:none;
      outline:none;
    }
    &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type="number"] {
    -moz-appearance: textfield;
  }
  }
  
}
