@import './../../../static/global.scss';

.app__tradesContainer{
    width: 554px;
    border: 2px solid hsla(0, 0%, 100%, 0.31);
    background: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    padding: 27px 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    top: 142px;
    position: absolute;
    row-gap: 20px;

    @media(max-width:768px){
        width:95%;
        top: 100px;
    }
}